n8n-workflows/arunachala-blog-auto.json
{
    "name": "Arunachala - Blog Auto-Generator (Fixed)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 9 * * 1"
                        }
                    ]
                }
            },
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                220,
                300
            ],
            "id": "trigger_schedule"
        },
        {
            "parameters": {
                "jsCode": "return [{\n  json: {\n    CLINIC_NAME: \"Arunachala Yoga & Ayurveda\",\n    DEFAULT_CITY: \"Cornellà de Llobregat\",\n    KEYWORDS: [\n      \"Hatha Yoga beneficios\",\n      \"Meditación para principiantes\",\n      \"Vinyasa Flow\",\n      \"Yoga Nidra para dormir\",\n      \"Ayurveda y alimentación\",\n      \"Chakras explicación\",\n      \"Pranayama ejercicios respiración\",\n      \"Yoga para la espalda\",\n      \"Mindfulness en la vida diaria\",\n      \"Retiros de silencio\",\n      \"Yoga embarazo\",\n      \"Filosofía del Yoga\"\n    ],\n    VISUAL_STYLES: [\n      {\n        name: \"Serenidad Natural\",\n        description: \"Fotografía con luz natural suave, tonos tierra, beige y verde bosque. Ambiente de calma absoluta.\",\n        mood: \"Pacífico y Orgánico\"\n      },\n      {\n        name: \"Espiritualidad Minimalista\",\n        description: \"Composición limpia, pocos elementos, fondos neutros o blancos, luz etérea. Símbolos sutiles.\",\n        mood: \"Elevado y Puro\"\n      },\n      {\n        name: \"Energía Vital\",\n        description: \"Imagen vibrante pero equilibrada, luz dorada del amanecer/atardecer, posturas dinámicas.\",\n        mood: \"Energético y Cálido\"\n      }\n    ]\n  }\n}];"
            },
            "name": "Config_Arunachala",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                440,
                300
            ],
            "id": "config_arunachala"
        },
        {
            "parameters": {
                "jsCode": "const config = $input.first().json;\nconst keywords = config.KEYWORDS;\nconst styles = config.VISUAL_STYLES;\n\nconst selectedKeyword = keywords[Math.floor(Math.random() * keywords.length)];\nconst selectedStyle = styles[Math.floor(Math.random() * styles.length)];\n\nreturn [{\n  json: {\n    keyword: selectedKeyword,\n    styleName: selectedStyle.name,\n    styleDesc: selectedStyle.description,\n    styleMood: selectedStyle.mood\n  }\n}];"
            },
            "name": "Select_Topic",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                660,
                300
            ],
            "id": "select_topic"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Escribe un artículo de blog optimizado para SEO sobre: \"{{ $json.keyword }}\".\n\nREQUISITOS:\n1. Título atractivo y espiritual.\n2. Contenido de al menos 800 palabras en formato Markdown.\n3. Estructura con Introducción, 3-4 secciones principales (H2), una práctica o consejo aplicable (H3) y Conclusión.\n4. Incluye una sección de \"En Arunachala\" invitando sutilmente a probar una clase.\n5. Genera un prompt para generar una imagen de portada con este estilo: {{ $json.styleDesc }} (Mood: {{ $json.styleMood }}).\n\nFORMATO JSON DE RESPUESTA (ÚNICO E IMPORTANTE):\n{\n  \"title\": \"Título del Post\",\n  \"slug\": \"titulo-del-post-seo\",\n  \"excerpt\": \"Breve resumen inspirador (max 160 chars)\",\n  \"content\": \"# Título\\n\\nContenido en markdown...\",\n  \"image_prompt\": \"Prompt detallado en inglés para DALL-E...\",\n  \"tags\": [\"Yoga\", \"Salud\", \"Tag3\"]\n}",
                "hasOutputParser": true
            },
            "name": "Generator_Agent",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                880,
                300
            ],
            "id": "generator_agent"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-4o",
                    "mode": "list",
                    "cachedResultName": "gpt-4o"
                },
                "options": {
                    "systemMessage": "Eres un maestro de Yoga y Ayurveda experto, con años de experiencia guiando a alumnos en Arunachala Yoga (Cornellà). Escribes con un tono cercano, inspirador, empático y profesional.\n\nTu objetivo es educar, inspirar y atraer nuevos alumnos al centro.\n\nEstructura tu respuesta SIEMPRE en formato JSON estricto."
                }
            },
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                880,
                500
            ],
            "id": "openai_model",
            "credentials": {
                "openAiApi": {
                    "id": "gpt_creds",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": { \"type\": \"string\" },\n    \"slug\": { \"type\": \"string\" },\n    \"excerpt\": { \"type\": \"string\" },\n    \"content\": { \"type\": \"string\" },\n    \"image_prompt\": { \"type\": \"string\" },\n    \"tags\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n  }\n}"
            },
            "name": "JSON Output Parser",
            "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
            "typeVersion": 1.2,
            "position": [
                1100,
                500
            ],
            "id": "json_parser"
        },
        {
            "parameters": {
                "prompt": "={{ $json.image_prompt }}",
                "n": 1,
                "size": "1024x1024",
                "responseFormat": "url"
            },
            "name": "DALL-E 3 Image",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                1320,
                300
            ],
            "id": "dalle_image",
            "credentials": {
                "openAiApi": {
                    "id": "gpt_creds",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "url": "={{ $json.data[0].url }}",
                "responseFormat": "file",
                "options": {}
            },
            "name": "Download Image",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1540,
                300
            ],
            "id": "download_image"
        },
        {
            "parameters": {
                "table": {
                    "__rl": true,
                    "value": "contents",
                    "mode": "list",
                    "cachedResultName": "contents"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "title": "={{ $('Generator_Agent').json.title }}",
                        "slug": "={{ $('Generator_Agent').json.slug }}",
                        "body": "={{ $('Generator_Agent').json.content }}",
                        "excerpt": "={{ $('Generator_Agent').json.excerpt }}",
                        "type": "article",
                        "status": "draft",
                        "created_at": "={{ new Date().toISOString() }}",
                        "updated_at": "={{ new Date().toISOString() }}",
                        "author_id": 1
                    }
                },
                "options": {}
            },
            "name": "Save to DB (Postgres)",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.3,
            "position": [
                1760,
                300
            ],
            "id": "save_db",
            "credentials": {
                "postgres": {
                    "id": "arunachala_pg",
                    "name": "Postgres Local"
                }
            }
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Config_Arunachala",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Config_Arunachala": {
            "main": [
                [
                    {
                        "node": "Select_Topic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Select_Topic": {
            "main": [
                [
                    {
                        "node": "Generator_Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_language_model": [
                [
                    {
                        "node": "Generator_Agent",
                        "type": "ai_language_model",
                        "index": 0
                    }
                ]
            ]
        },
        "JSON Output Parser": {
            "ai_output_parser": [
                [
                    {
                        "node": "Generator_Agent",
                        "type": "ai_output_parser",
                        "index": 0
                    }
                ]
            ]
        },
        "Generator_Agent": {
            "main": [
                [
                    {
                        "node": "DALL-E 3 Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "DALL-E 3 Image": {
            "main": [
                [
                    {
                        "node": "Download Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download Image": {
            "main": [
                [
                    {
                        "node": "Save to DB (Postgres)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}