n8n-workflows/Blog Arunachala Terapias.json
{
  "name": "Blog Arunachala Terapias",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 4000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -3280,
        480
      ],
      "id": "86173a26-c28c-48cc-b277-60393fb46b67",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OVOKIrTVVKnOvIHi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -448,
        16
      ],
      "id": "0171cd55-d33a-4d1f-ac27-5b7f56ea507d",
      "name": "5 seg wait",
      "webhookId": "cb7bd28e-f7db-4c3a-8139-d7c26a9d2055"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Ilustración profesional hiperrealista 8K para artículo de blog de clínica dental sobre:\n\nArtículo: {{ $('JSON Parse').item.json.title }}\n\nDescripción: {{ $('JSON Parse').item.json.imagePrompt }}\n\nESTILO: {{ $('JSON Parse').item.json.imagePromptStyle }}\n\nSPECS TÉCNICAS:\n\nTamaño: 1024x1024\nCalidad: estándar\nComposición: Minimalista, un solo punto focal\nClaridad: La imagen debe ser comprensible en 2-3 segundos\n\nDIRECTRICES POR ESTILO:\n[Fotografico-lifestyle]\nEscenas naturales con pacientes sonriendo, luz natural suave, tonos cálidos dorados, profundidad de campo media, ambiente relajado. Mostrar solo sonrisas/dientes o partes no identificables de personas, NUNCA rostros completos.\n\n[Clinico-minimalista]\nFondos blancos/neutros, iluminación uniforme de estudio, enfoque ultra nítido, paleta blanco + azul claro + gris, composición simétrica, instrumental esterilizado.\n\n[Retratos profesionales]\nFondo neutro, iluminación softbox favorecedora, encuadre hombros arriba, uniformes blancos/azul claro, postura profesional cercana. NO rostros identificables completos.\n\n[Ilustracion educativa]\nEstilo infográfico vectorial, iconografía clara (dientes, cepillos), paleta azul claro + verde menta + blanco + coral suave, composición tipo diagrama, formas geométricas simples.\n\n[Luz natural calida]\nInteriores clínica con luz día, tonos dorados/beige, profundidad de campo baja, bokeh cálido, ambiente acogedor y confortable.\n\n[Detalles-macro]\nMacro extremo (1:1), enfoque ultra nítido, profundidad muy baja, sujetos: instrumental/implantes/brackets, iluminación técnica, paleta metálica/blanca, brillos controlados.\n\nPALETA GENERAL:\n\nBase: Blanco, azul claro dental (#E8F4F8), gris claro (#F5F5F5)\nAcentos: Beige/dorado tenue (lifestyle), verde menta (#B8E6D5), azul cielo (#D4E9F7)\nEvitar: Colores saturados u oscuros\n\nRESTRICCIONES:\n\nNO incluir texto, marcas, logos, nombres comerciales.\n\nPERMITIDO:\n\nSonrisas o personas mostrando dientes limpios\nManos enguantadas (látex blanco/azul)\nInstrumental dental genérico, implantes o brackets abstractos\nCepillos genéricos, hilo dental sin marca\nSuperficies limpias y claras\nPlantas suaves o luz natural según estilo\n\nLIMITACIONES DE ELEMENTOS:\n\nIncluir máximo 2-3 elementos principales para no saturar la imagen\nPriorizar claridad y minimalismo\nNo es necesario mostrar todos los elementos permitidos, escoger los más representativos\n\nCOMPOSICIÓN:\n\nRegla de tercios, punto focal en intersecciones\nBalance visual equilibrado\nContraste: elemento principal destaca sobre fondo\nEspacio seguro alrededor del punto focal, evitar saturación\n\nOBJETIVO:\nImagen profesional que transmita confianza, profesionalismo y calidez de clínica dental moderna. Minimalista, clara, comprensible en 3 segundos, funcional como encabezado de blog, sin texto/marcas/rostros identificables.",
        "model": "dall-e-3",
        "responseFormat": "imageUrl",
        "options": {
          "quality": "standard",
          "size": "1024x1024"
        },
        "requestOptions": {}
      },
      "name": "DALLE_Fallback",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -336,
        352
      ],
      "id": "d5da9e73-75dc-47cf-9204-a5913e6089e5",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "OVOKIrTVVKnOvIHi",
          "name": "OpenAi account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "=json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "nano-banana-pro"
            },
            {
              "name": "input.aspect_ratio",
              "value": "1:1"
            },
            {
              "name": "input.resolution",
              "value": "1K"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -224,
        16
      ],
      "id": "8ecbc709-65d7-444a-9cbd-9f094c6cb0c6",
      "name": "GET_BananaPro_URL",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "httpBearerAuth": {
          "id": "wvTAlnIWwXV6z3Ep",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\nJSON.stringify({\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": $json.enhancedImagePrompt,\n    \"aspect_ratio\": \"16:9\",\n    \"resolution\": \"1K\",\n    \"output_format\": \"jpg\"\n  }\n})\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -720,
        288
      ],
      "id": "098b65ad-0975-470f-975c-df576a5f65ce",
      "name": "IMG_BananaPro_Request",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "httpBearerAuth": {
          "id": "wvTAlnIWwXV6z3Ep",
          "name": "Bearer Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8e802977-3b99-4596-b4e5-e0836d6b84c9",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "waiting",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "waiting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "=success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "66c3d679-9836-4e20-9894-918fe7ddd183"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c0ebcb84-c88b-4c16-8d89-e914bc941a83",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "fail",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fail"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        0,
        0
      ],
      "id": "b7b213c8-0831-4eae-b718-b6c116274c69",
      "name": "IMG_Check_Status"
    },
    {
      "parameters": {
        "functionCode": "// Primer item del input del nodo anterior\nconst imageResponse = $input.first().json;\n\n// Parserar 'data.resultJson' de string objeto\nconst resultJson = JSON.parse(imageResponse.data.resultJson);\n\n// Obtener la primera URL de la lista\nconst imageUrl = resultJson.resultUrls[0];\n\n// Retornar un array de items con formato JSON \n// Solo URL de la imagen bajo la propiedad 'image_url'\nreturn [{\n  json: {\n    image_url: imageUrl\n  }\n}];"
      },
      "name": "URL_Extract_Banana",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        272,
        16
      ],
      "id": "c620a641-5ec3-426d-b7ef-11d11d8cfc04"
    },
    {
      "parameters": {
        "functionCode": "// Obtener el primer item del input\nconst imageData = $input.first().json;\n\n// Retornar un objeto JSON con la URL de la imagen o null si no existe\nreturn [{\n  json: {\n    image_url: imageData.url || null\n  }\n}];"
      },
      "name": "URL_Extract_DALLE",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        0,
        336
      ],
      "id": "defc6b15-4c81-4bd9-8826-06402e89f9b5"
    },
    {
      "parameters": {
        "functionCode": "const imageUrl = $input.first().json.image_url;\nconst previousData = $('Multilingual_article').item.json;\n\nreturn [{\n  json: {\n    ...previousData,\n    featuredImage: imageUrl  // ← Corregido: ahora es featuredImage\n  }\n}];"
      },
      "name": "Attach_Image_URL",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        512,
        208
      ],
      "id": "33c92fbb-b46b-4ce1-8ef1-b8fc44f4e588"
    },
    {
      "parameters": {
        "jsCode": "// Acceso a la memoria global del workflow para no repetir temas\nconst data = $getWorkflowStaticData('global');\n\n// Listas de keywords y estilo desde el nodo anterior\nconst keywords = $input.first().json.keywords;\nconst visualStyles = $input.first().json.visualStyles;\n\n// Inicializar array de palabras usadas si no existe\nif (!data.usedKeywords) {\n  data.usedKeywords = [];\n}\n\n// -----------------------------------------------------------\n// ROTACIÓN INTELIGENTE DE KEYWORDS\n// -----------------------------------------------------------\n\n// Filtramos las keywords que NO han sido usadas todavía\nlet available = keywords.filter(k => !data.usedKeywords.includes(k));\n\n// Si ya hemos usado TODAS, reiniciamos la lista y el historial\nif (available.length === 0) {\n  data.usedKeywords = [];\n  available = [...keywords];\n}\n\n// Elegir una keyword aleatoria de las disponibles\nconst selected = available[Math.floor(Math.random() * available.length)];\n\n// Guardar la elegida como usada para la próxima vez\ndata.usedKeywords.push(selected);\n\n// -----------------------------------------------------------\n// LIMPIEZA PARA PROMPT DE IMAGEN\n// -----------------------------------------------------------\n// Aquí puedes añadir palabras que quieras quitar del prompt de imagen para que no confundan a la IA.\n// Por ejemplo, quitar nombres de ciudades si la IA tiende a dibujar mapas o edificios específicos.\nconst wordsToRemove = /cornellà|barcelona/gi; \n\n// Generamos la keyword limpia para la imagen\nconst imageKeyword = selected.replace(wordsToRemove, '').trim();\n\n// -----------------------------------------------------------\n// SELECCIÓN DE ESTILO VISUAL\n// -----------------------------------------------------------\nconst randomStyle = visualStyles[Math.floor(Math.random() * visualStyles.length)];\n\nreturn [\n  { \n    json: { \n      keyword: selected,\n      imageKeyword: imageKeyword,\n      selectedStyleName: randomStyle.name,\n      selectedStyleDescription: randomStyle.description,\n      selectedStyleMood: randomStyle.mood,\n      usedKeywords: data.usedKeywords\n    } \n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3392,
        288
      ],
      "id": "8ef33d2a-6d4c-4b92-8421-3b2460610548",
      "name": "Metadata_selector"
    },
    {
      "parameters": {
        "functionCode": "/* \n  Nodo: ImagePromptGEN\n  Función: Prepara el prompt definitivo en ESPAÑOL unificando estilo y contenido.\n*/\n\nfor (const item of $input.all()) {\n  \n  // Obtenemos los textos en español del paso anterior\n  const basePrompt = item.json.spanish?.imagePrompt || \"Escena de yoga y meditación\";\n  const style = item.json.spanish?.imagePromptStyle || \"Luz suave y natural\";\n\n  // Construimos el prompt unificado\n  const finalPrompt = `Fotografía profesional de alta gama para web de centro de yoga.\n\nDESCRIPCIÓN DE LA ESCENA:\n${basePrompt}\n\nESTILO Y ATMÓSFERA:\n${style}\n\nCONFIGURACIÓN TÉCNICA OBLIGATORIA:\n- Calidad: 8K, fotorrealista, texturas muy detalladas, enfoque nítido.\n- Iluminación: \"Golden hour\" (hora dorada), luz natural cálida y suave.\n- Lente: Gran angular, profundidad de campo cinematográfica.\n- Ambiente: Sereno, inspirador, pacífico, espiritual.\n- PROMPT NEGATIVO (Lo que NO debe aparecer): Texto, marcas de agua, letras, cuerpos deformes, dibujos animados, oscuridad, alto contraste artificial.`;\n\n  // Guardamos el resultado\n  item.json.enhancedImagePrompt = finalPrompt;\n  \n  // Opcional: Definir el ratio aquí para usarlo dinámicamente si el nodo de imagen lo permite\n  item.json.image_aspect_ratio = \"16:9\"; \n}\n\nreturn $input.all();"
      },
      "name": "ImagePromptGEN",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -960,
        288
      ],
      "id": "2a7699ea-33e5-4c89-a50f-d88b1d1cd549"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"CLINIC_NAME\": \"Arunachala Yoga & Ayurveda\",\n  \"DEFAULT_CITY\": \"Cornellà de Llobregat\",\n  \"API_ENDPOINT\": \"http://backend:8000/api/content\",   \n  \"EMAIL\": \"info@arunachalayoga.com\",\n  \"keywords\": [\n    \"beneficios del masaje terapéutico para la salud\",\n    \"diferencia entre masaje relajante y descontracturante\",\n    \"masaje ayurvédico abhyanga técnica y beneficios\",\n    \"reflexología podal qué es y para qué sirve\",\n    \"acupuntura funciona evidencia científica\",\n    \"aromaterapia aceites esenciales usos terapéuticos\",\n    \"masaje con piedras calientes beneficios\",\n    \"drenaje linfático manual para qué sirve\",\n    \"masaje tailandés tradicional características\",\n    \"quiropráctica tratamiento columna vertebral\",\n    \"ventosas terapia cupping beneficios\",\n    \"shiatsu masaje japonés puntos de presión\",\n    \"osteopatía craneal qué trata\",\n    \"masaje prenatal embarazo seguro trimestre\",\n    \"fibromialgia tratamientos alternativos efectivos\",\n    \"contracturas musculares cómo eliminarlas\",\n    \"masaje deportivo recuperación muscular\",\n    \"reiki sanación energética cómo funciona\",\n    \"masaje sueco técnica clásica beneficios\",\n    \"terapia craneosacral para qué sirve\",\n    \"digitopuntura acupresión puntos principales\",\n    \"masaje balinés ritual tradicional\",\n    \"contractura cervical tratamiento natural\",\n    \"masaje de tejido profundo cuándo aplicar\",\n    \"puntos gatillo miofasciales tratamiento\",\n    \"aceite de almendras para masajes propiedades\",\n    \"técnicas de respiración para relajación profunda\",\n    \"camilla de masaje cómo elegir la mejor\",\n    \"masaje infantil bebés cólicos beneficios\",\n    \"lumbalgia crónica terapias naturales\",\n    \"medicina tradicional china fundamentos básicos\",\n    \"chakras equilibrio energético técnicas\",\n    \"estiramientos asistidos terapia manual\",\n    \"estrés postraumático terapias complementarias\",\n    \"masaje facial kobido rejuvenecimiento natural\",\n    \"terapia de sonido cuencos tibetanos\",\n    \"ciática dolor tratamiento sin medicamentos\",\n    \"masaje ayurvédico según dosha tipo\",\n    \"bruxismo tratamiento masaje mandibular\",\n    \"liberación miofascial técnica y aplicaciones\",\n    \"automásaje técnicas sencillas en casa\",\n    \"terapias manuales para ansiedad\",\n    \"masaje en Cornellà de Llobregat\",\n    \"centro de terapias alternativas Barcelona\",\n    \"masajista profesional certificado cerca\",\n    \"retención de líquidos tratamiento drenaje\",\n    \"dolores de cabeza tensionales masaje\",\n    \"túnel carpiano tratamiento natural\",\n    \"masaje postnatal recuperación posparto\",\n    \"fascitis plantar tratamiento reflexología\",\n    \"tendinitis hombro terapias manuales\",\n    \"escoliosis tratamiento osteopático\",\n    \"insomnio crónico masaje relajante\",\n    \"embarazo dolor espalda masaje seguro\",\n    \"artritis reumatoide terapias complementarias\",\n    \"lesiones deportivas recuperación con masaje\",\n    \"higiene postural consejos prácticos\",\n    \"aceites esenciales para cada emoción\",\n    \"aromaterapia ansiedad lavanda propiedades\",\n    \"contraindicaciones del masaje terapéutico\",\n    \"presión arterial alta masajes recomendados\",\n    \"varices tratamiento drenaje linfático\",\n    \"hernia discal tratamientos conservadores\",\n    \"masaje geotermal piedras volcánicas\",\n    \"terapia floral emociones Bach\",\n    \"kinesiología holística test muscular\",\n    \"auriculoterapia puntos oreja adelgazar\",\n    \"moxibustión terapia calor artemisa\",\n    \"cupping therapy marcas moretones normales\",\n    \"lesión cervical latigazo tratamiento\",\n    \"fibromialgia puntos sensibles tratamiento\",\n    \"síndrome piramidal ciático masaje\",\n    \"epicondilitis codo tenista terapia manual\",\n    \"rodilla del corredor tratamiento preventivo\",\n    \"masaje circulatorio piernas cansadas\",\n    \"cefalea tensional puntos de presión\",\n    \"neuralgia intercostal tratamiento osteopático\",\n    \"jet lag recuperación masaje reflexología\",\n    \"síndrome del túnel carpiano ejercicios\",\n    \"masaje lomi lomi hawaiano ritual\",\n    \"fascitis plantar estiramientos específicos\",\n    \"trocanteritis cadera tratamiento manual\",\n    \"capsulitis adhesiva hombro congelado\",\n    \"puntos shu espalda acupuntura\"\n  ],\n  \"visualStyles\": [\n    {\n      \"name\": \"Manos Sanadoras\",\n      \"description\": \"Primeros planos de manos aplicando técnicas de masaje sobre piel con aceite. Luz cálida lateral que resalta texturas, gotas de aceite, movimientos fluidos. Tonos: dorado miel, ámbar, marrones cálidos, blancos cremosos. Enfoque suave en las manos del terapeuta.\",\n      \"mood\": \"Terapéutico y Profesional\"\n    },\n    {\n      \"name\": \"Santuario de Bienestar\",\n      \"description\": \"Sala de tratamiento preparada con atención al detalle: camilla vestida con sábanas de lino blanco, toallas enrolladas, velas aromáticas encendidas, piedras calientes en calentador, difusor de aceites esenciales con vapor visible. Paleta: blancos puros, grises piedra, toques de lavanda.\",\n      \"mood\": \"Acogedor y Profesional\"\n    },\n    {\n      \"name\": \"Elementos Naturales\",\n      \"description\": \"Ingredientes y herramientas terapéuticas en composiciones orgánicas: botellas de aceites esenciales con plantas frescas, piedras de basalto pulidas, bambu, cuencos de madera, sales del Himalaya rosadas, compresas herbales. Luz natural difusa, texturas táctiles, paleta tierra.\",\n      \"mood\": \"Orgánico y Sanador\"\n    },\n    {\n      \"name\": \"Serenidad Corporal\",\n      \"description\": \"Persona recibiendo tratamiento en estado de profunda relajación. Rostro sereno cubierto parcialmente, cuerpo relajado sobre la camilla, toallas estratégicamente colocadas. Iluminación tenue y cálida, atmósfera de privacidad y respeto. Tonos neutros reconfortantes.\",\n      \"mood\": \"Íntimo y Reparador\"\n    },\n    {\n      \"name\": \"Aromaterapia Sensorial\",\n      \"description\": \"Enfoque en el aspecto olfativo: botellas de vidrio ámbar con aceites, flores frescas (lavanda, rosa, eucalipto), mortero de piedra con hierbas, difusor artesanal con vapor aromático. Luz natural suave, colores botánicos naturales, atmósfera de laboratorio natural.\",\n      \"mood\": \"Aromático y Botánico\"\n    },\n    {\n      \"name\": \"Energía Sutil\",\n      \"description\": \"Técnicas energéticas sin contacto: manos del terapeuta suspendidas sobre el cuerpo, aura sugerida con iluminación creativa, cristales de cuarzo estratégicamente colocados, luz etérea y suave. Paleta: violetas, azules claros, blancos luminosos, toques de dorado.\",\n      \"mood\": \"Místico y Energético\"\n    },\n    {\n      \"name\": \"Tradición Oriental\",\n      \"description\": \"Elementos de medicina tradicional china y japonesa: agujas de acupuntura en posición, moxibustión humeante, ventosas de bambú, diagrama de meridianos visible, herramientas de shiatsu. Estética minimalista asiática, madera oscura, papel de arroz, caligrafía sutil.\",\n      \"mood\": \"Ancestral y Riguroso\"\n    },\n    {\n      \"name\": \"Reflexología Detallada\",\n      \"description\": \"Acercamiento a pies y manos recibiendo tratamiento reflexológico. Presión de pulgares sobre puntos específicos, cremas especializadas, mapas reflexológicos sutilmente visibles. Luz limpia y clara, enfoque en la precisión técnica.\",\n      \"mood\": \"Técnico y Específico\"\n    },\n    {\n      \"name\": \"Hidroterapia Natural\",\n      \"description\": \"Elementos acuáticos terapéuticos: compresas húmedas calientes, cuencos con agua de rosas, piedras mojadas brillantes, gotas de agua capturadas en movimiento, vapor sutil. Paleta: azules suaves, verdes agua, blancos transparentes, reflejos luminosos.\",\n      \"mood\": \"Fluido y Purificador\"\n    },\n    {\n      \"name\": \"Espacio de Transformación\",\n      \"description\": \"Antes y después sugerido visualmente: zona de recepción tranquila, campana tibetana para marcar inicio, espacio de integración post-tratamiento con té de hierbas, diario de bienestar. Transición visual de tensión a calma mediante iluminación y composición.\",\n      \"mood\": \"Transformador y Completo\"\n    },\n    {\n      \"name\": \"Técnica Osteopática\",\n      \"description\": \"Maniobras terapéuticas específicas: manipulación vertebral suave, estiramientos asistidos, evaluación postural, trabajo fascial. Iluminación clara y profesional, enfoque en biomecánica, ambiente clínico pero cálido. Tonos neutros médicos con toques cálidos.\",\n      \"mood\": \"Científico y Efectivo\"\n    },\n    {\n      \"name\": \"Ritual de Cuidado\",\n      \"description\": \"Secuencia completa de tratamiento mostrada de forma artística: preparación de aceites, calentamiento de piedras, aplicación de envolturas, mascarilla facial, momento de reposo. Narrativa visual del proceso completo, estética de spa de lujo accesible.\",\n      \"mood\": \"Ceremonial y Completo\"\n    }\n  ]\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3648,
        288
      ],
      "id": "0945c840-a343-40dc-bb35-477522bd9caa",
      "name": "Config"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 4000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -2576,
        544
      ],
      "id": "ff8f86a8-f06b-4862-89c2-de7d7c78d9f7",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "OVOKIrTVVKnOvIHi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un terapeuta holístico experto y multilingüe (ES/CA/EN), con años de experiencia guiando a pacientes en Arunachala Yoga & Ayurveda, un centro de referencia en terapias manuales y medicina integrativa en Cornellà de Llobregat.\n\nTAREA:\nGenera un artículo de blog largo, profundo y SEO-friendly sobre: {{ $json.keyword }}, siguiendo las siguientes reglas: \n\nPASOS OBLIGATORIOS (USO DE HERRAMIENTAS):\n1. Primero, usa la herramienta `check_therapy_articles` (Postgres) para consultar qué se ha publicado ya. NO repitas temas ni títulos de esa lista.\n2. Segundo, usa la herramienta `arunachala_knowledge` (RAG/Qdrant) para leer sobre la filosofía, ubicación y tono de Arunachala.\n3. Escribe el artículo integrando esa información para que suene único y propio del centro.\n\nOBJETIVO CLAVE:\nGenerar un artículo PROFUNDO, SANADOR y ÚTIL que posicione en Google y transmita la esencia terapéutica profesional y humana de Arunachala.\n\n========================\nREGLAS CRÍTICAS DE LONGITUD (OBLIGATORIAS)\n========================\n- El artículo completo DEBE tener mínimo 1200 palabras reales.\n- Cada sección H2 (##) DEBE tener mínimo 250 palabras de contenido valioso.\n- La profundidad y la calidez del mensaje son más importantes que la brevedad.\n\n========================\nREQUISITOS DEL ARTÍCULO\n========================\n1. Título SEO (50-60 caracteres):\n   - Claro, profesional y con enfoque terapéutico.\n   - Usa \"Cornellà\" solo si encaja natural, si no, prioriza el tema.\n\n2. Slug:\n   - minúsculas, separado por guiones, máximo 5 palabras.\n\n3. Excerpt:\n   - 150-160 caracteres, invitando a la lectura y al alivio del malestar.\n\n4. Contenido (1200+ palabras):\n   - Markdown.\n   - Párrafos cortos y respirables (máximo 3 líneas).\n   - Uso de listas para enumerar beneficios o pasos.\n   - Lenguaje cercano (\"tú\", \"nosotros\").\n\n5. Estructura:\n   - Introducción empática que conecte con un dolor, necesidad o búsqueda de bienestar.\n   - 4-5 secciones H2 sólidas.\n   - Un H2 dedicado a \"Cuándo es recomendable este tratamiento\" o \"Cómo integrarlo en tu rutina de autocuidado\".\n   - Un H2 sobre \"Qué esperar en tu primera sesión\" o \"Contraindicaciones y precauciones\".\n   - Sección breve \"En Arunachala\" invitando suavemente a probar el tratamiento.\n   - Conclusión cálida y motivadora.\n\n6. Keywords obligatorias (integradas natural):\n   - \"Terapias en Cornellà\" o \"Masaje en Cornellà\" (al menos una vez).\n   - \"bienestar integral\".\n   - \"Arunachala\".\n\n7. Tono:\n   - Profesional, cálido, acogedor y basado en evidencia.\n   - Evita promesas milagrosas; enfócate en beneficios reales y experiencia humana.\n   - Explica términos técnicos de forma sencilla y accesible.\n   - Empático con el dolor físico o emocional del paciente.\n   - Transmite seguridad, confianza y cuidado profesional.\n\n==========\nCATEGORÍA:\n==========\ntherapy\n\n========================\nETIQUETAS (elige 3-5):\n========================\nMasaje Terapéutico | Bienestar | Salud Natural | Alivio del Dolor | Relajación | Terapias Manuales | Medicina Holística | Autocuidado | Recuperación | Ayurveda\n\n========================\nESTILO VISUAL DE LA IMAGEN\n========================\n- Nombre: {{ $json.selectedStyleName }}\n- Descripción: {{ $json.selectedStyleDescription }}\n- Ambiente: {{ $json.selectedStyleMood }}\n\n========================\nFORMATO DE RESPUESTA (OBLIGATORIO)\n========================\nResponde en JSON válido estrictamente.\n\nFORMATO JSON DE RESPUESTA (ESTRICTO):\n{\n  \"title_es\": \"Título del Post\",\n  \"content_es\": \"# Título H1\\n\\nIntroducción...\\n\\n## Sección 1\\n\\nContenido...\\n\\n## En Arunachala\\n\\nTexto invitación...\\n\\n## Conclusión\\n\\nDespedida.\",\n  \"excerpt_es\": \"Resumen breve...\",\n  \"slug\": \"slug-en-espanol-optimizado\",\n  \"metaTitle\": \"Title para Google\",\n  \"metaDescription\": \"Desc para Google\",\n  \"categories\": [\"therapy\"],\n  \"tags\": [\"Tag1\", \"Tag2\", \"Tag3\"],\n  \"seo_title\": \"SEO Title ESPAÑOL\",\n  \"seo_description\": \"SEO Desc ESPAÑOL\",\n  \"imagePrompt\": \"Prompt DETALLADO para generar una imagen fotorrealista basada en el 'ESTILO VISUAL' descrito arriba. DEBE describir la escena, la luz, los colores y el ambiente para DALL-E 3. Enfoque terapéutico profesional, ambiente de sala de tratamiento, elementos naturales y sanadores.\",\n  \"imagePromptStyle\": \"Resumen del estilo visual usado\"\n}\n\n========================\nRESTRICCIONES CRÍTICAS\n========================\n✓ No incluyas ningún texto fuera del JSON.\n✓ No inventes testimonios falsos.\n✓ No hagas promesas médicas que no se puedan cumplir.\n✓ Menciona siempre que las terapias complementan pero no sustituyen el tratamiento médico cuando sea necesario.\n✓ El contenido debe sentirse auténtico y escrito por un profesional sanitario que cuida de sus pacientes.\n✓ Transmite profesionalidad sin perder calidez humana.\n\nOBJETIVO FINAL:\nInspirar al lector a cuidar de su salud física y emocional, y ver a Arunachala como su espacio de confianza para el bienestar integral.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -3168,
        288
      ],
      "id": "bcf1a49f-5b58-4f61-9099-1cd290e78416",
      "name": "Articulo_ES"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert English translator (EN) specialized in Yoga.\nTranslate the blog post and tags from Spanish to English.\n\nINPUT:\nTitle: {{ $('JSON_PARSE_ES').item.json.title_es }}\nContent: {{ $('JSON_PARSE_ES').item.json.content_es }}\nExcerpt: {{ $('JSON_PARSE_ES').item.json.excerpt_es }}\nTags: {{ $('JSON_PARSE_ES').item.json.tags }}\n\nCRITICAL RULES:\n1. FULL FIDELITY: Do not summarize. Translate every paragraph. Keep Markdown format.\n2. TAGS: Translate the list of tags to English.\n\nOUTPUT FORMAT (JSON):\n{\n  \"title_en\": \"Translated Title\",\n  \"content_en\": \"Full translated content...\",\n  \"excerpt_en\": \"Translated summary...\",\n  \"tags_en\": [\"Tag1\", \"Tag2\"]\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1920,
        288
      ],
      "id": "dd92b491-d93b-4308-af1f-3860c3a980f1",
      "name": "Articulo_EN"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 4000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1920,
        480
      ],
      "id": "855cb94c-adac-40c4-8527-bfae5389e666",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "OVOKIrTVVKnOvIHi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of items) {\n  let rawText = item.json.output; \n  \n  if (!rawText) {\n      // Devolvemos info de depuración envuelta correctamente\n      results.push({ \n        json: { \n          debug_error: \"Propiedad 'output' no encontrada\", \n          available_keys: Object.keys(item.json) \n        } \n      });\n      continue;\n  }\n\n  if (typeof rawText === 'string') {\n    let jsonString = rawText.replace(/```json\\s*/g, \"\").replace(/```\\s*$/g, \"\");\n    try {\n      const parsed = JSON.parse(jsonString);\n      // ÉXITO: Devolvemos el objeto parseado envuelto en 'json'\n      results.push({ json: parsed });\n    } catch (e) {\n      results.push({ \n        json: { \n          debug_error: \"Error parsing JSON string\", \n          raw_content: rawText \n        } \n      });\n    }\n  } else if (typeof rawText === 'object') {\n     results.push({ json: rawText });\n  } else {\n     results.push({ \n       json: { \n         debug_error: \"Formato desconocido\", \n         raw_content: rawText \n       } \n     });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        288
      ],
      "id": "eff0506e-0639-4f5a-8452-b56edb290a2c",
      "name": "JSON_PARSE_EN"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of items) {\n  let rawText = item.json.output; \n  \n  if (!rawText) {\n      // Devolvemos info de depuración envuelta correctamente\n      results.push({ \n        json: { \n          debug_error: \"Propiedad 'output' no encontrada\", \n          available_keys: Object.keys(item.json) \n        } \n      });\n      continue;\n  }\n\n  if (typeof rawText === 'string') {\n    let jsonString = rawText.replace(/```json\\s*/g, \"\").replace(/```\\s*$/g, \"\");\n    try {\n      const parsed = JSON.parse(jsonString);\n      // ÉXITO: Devolvemos el objeto parseado envuelto en 'json'\n      results.push({ json: parsed });\n    } catch (e) {\n      results.push({ \n        json: { \n          debug_error: \"Error parsing JSON string\", \n          raw_content: rawText \n        } \n      });\n    }\n  } else if (typeof rawText === 'object') {\n     results.push({ json: rawText });\n  } else {\n     results.push({ \n       json: { \n         debug_error: \"Formato desconocido\", \n         raw_content: rawText \n       } \n     });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2192,
        288
      ],
      "id": "f7c08f9c-05b4-45ab-986a-975f97161f3b",
      "name": "JSON_PARSE_CAT"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of items) {\n  let rawText = item.json.output; \n  \n  if (!rawText) {\n      // Devolvemos info de depuración envuelta correctamente\n      results.push({ \n        json: { \n          debug_error: \"Propiedad 'output' no encontrada\", \n          available_keys: Object.keys(item.json) \n        } \n      });\n      continue;\n  }\n\n  if (typeof rawText === 'string') {\n    let jsonString = rawText.replace(/```json\\s*/g, \"\").replace(/```\\s*$/g, \"\");\n    try {\n      const parsed = JSON.parse(jsonString);\n      // ÉXITO: Devolvemos el objeto parseado envuelto en 'json'\n      results.push({ json: parsed });\n    } catch (e) {\n      results.push({ \n        json: { \n          debug_error: \"Error parsing JSON string\", \n          raw_content: rawText \n        } \n      });\n    }\n  } else if (typeof rawText === 'object') {\n     results.push({ json: rawText });\n  } else {\n     results.push({ \n       json: { \n         debug_error: \"Formato desconocido\", \n         raw_content: rawText \n       } \n     });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2800,
        288
      ],
      "id": "4390429e-1a05-41d6-b13d-5c864cc7309a",
      "name": "JSON_PARSE_ES"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un traductor experto nativo en Catalán (CA).\nTu tarea es traducir el artículo de blog y las etiquetas que recibes del castellano al catalán.\n\nINPUT:\nTítulo: {{ $json.title_es }}\nContenido: {{ $json.content_es }}\nExtracto: {{ $json.excerpt_es }}\nEtiquetas: {{ $json.tags }}\n\nREGLAS CRÍTICAS:\n1. FIDELIDAD TOTAL: No resumas. Traduce cada párrafo. Mantén el formato Markdown.\n2. ETIQUETAS: Traduce también la lista de etiquetas al catalán.\n\nFORMATO DE SALIDA (JSON):\n{\n  \"title_ca\": \"Títol traduït\",\n  \"content_ca\": \"Contingut complet traduït...\",\n  \"excerpt_ca\": \"Resum traduït...\",\n  \"tags_ca\": [\"Etiqueta1\", \"Etiqueta2\"]\n}\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -2544,
        288
      ],
      "id": "f5c48b59-ff41-4653-9b35-25bc39bb0725",
      "name": "Articulo_CAT"
    },
    {
      "parameters": {
        "functionCode": "// Obtenemos el artículo original en español\nconst spanishArticle = $('JSON_PARSE_ES').first().json;\n\n// Obtenemos las traducciones\nconst englishArticle = $('JSON_PARSE_EN').first().json;\nconst catalanArticle = $('JSON_PARSE_CAT').first().json;\n\nreturn [{\n  json: {\n    spanish: spanishArticle,\n    english: englishArticle,\n    catalan: catalanArticle,\n    createdAt: new Date().toISOString()\n  }\n}];"
      },
      "name": "Multilingual_article",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1232,
        288
      ],
      "id": "2369c5a2-50a4-4920-a294-cfa29479a7ea"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json; // Cogemos el primer elemento\n\nreturn {\n  json: {\n    // 1. Datos base (extraídos del bloque en español por defecto)\n    \"title\": input.spanish.title_es,\n    \"slug\": input.spanish.slug,\n    \"excerpt\": input.spanish.excerpt_es,\n    \"content\": input.spanish.content_es, // Contenido principal\n    \n    // 2. Metadatos\n    \"category\": input.spanish.categories[0] || \"yoga\", // Cogemos la primera categoría\n    \"tags\": input.spanish.tags,\n    \"featured_image\": input.featuredImage, // ¡Importante! Aquí unificamos el nombre\n    \"status\": \"published\",\n    \"created_at\": new Date().toISOString(),\n\n    // 3. Traducciones (Esto es clave para tu backend multilingüe)\n    \"translations\": {\n      \"es\": {\n        \"title\": input.spanish.title_es,\n        \"content\": input.spanish.content_es,\n        \"excerpt\": input.spanish.excerpt_es,\n        \"seo_title\": input.spanish.seo_title,\n        \"seo_description\": input.spanish.seo_description\n      },\n      \"en\": {\n        \"title\": input.english.title_en,\n        \"content\": input.english.content_en,\n        \"excerpt\": input.english.excerpt_en,\n        \"tags\": input.english.tags_en\n      },\n      \"ca\": {\n        \"title\": input.catalan.title_ca,\n        \"content\": input.catalan.content_ca,\n        \"excerpt\": input.catalan.excerpt_ca,\n        \"tags\": input.catalan.tags_ca\n      }\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        208
      ],
      "id": "33745e7e-03af-455b-8286-9c842f1b5bd1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/rag/sync-item",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"article\",\n  \"id\": {{ $json.id }} \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1504,
        208
      ],
      "id": "6c4d5f38-4151-4a2c-b68c-7e78623211a5",
      "name": "Syng_rag"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/content",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    \"author_id\": 4,\n    \"title\": $json.title,\n    \"body\": $json.translations.es.content, \n    \"slug\": $json.slug,\n    \"excerpt\": $json.excerpt,\n    \"type\": \"article\",\n    \"category\": $json.category,\n    \"status\": \"published\",\n    \"translations\": $json.translations,\n    \"tags\": $json.tags,\n    \"seo_title\": $json.seo_title,\n    \"seo_description\": $json.seo_description,\n    \"thumbnail_url\": $json.featured_image\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1200,
        208
      ],
      "id": "09f3b7d5-07a0-4669-92b0-df76d3e8ec9a",
      "name": "DB_Insert"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2848,
        640
      ],
      "id": "18c72d2c-5b56-4a3b-ae17-4d5848902e21",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "OVOKIrTVVKnOvIHi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Utiliza esta herramienta SIEMPRE antes de escribir para consultar información sobre la identidad de Arunachala, su filosofía, ubicación exacta en Cornellà, tipos de servicios (yoga, masajes) y el tono adecuado para los artículos. Asegúrate de incluir datos específicos del centro en el contenido generado.",
        "qdrantCollection": {
          "__rl": true,
          "value": "arunachala_knowledge_base",
          "mode": "list",
          "cachedResultName": "arunachala_knowledge_base"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -2944,
        496
      ],
      "id": "eedd119e-a745-4743-af77-89689b63f084",
      "name": "ArunachalaKnowledge",
      "credentials": {
        "qdrantApi": {
          "id": "Fts6SwtbhRLOjrJs",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Consulta esta lista para ver los títulos y slugs de los artículos de YOGA ya publicados...",
        "operation": "executeQuery",
        "query": "SELECT \n    id, \n    title, \n    slug\nFROM contents \nWHERE type = 'article' \nAND tags::text ILIKE '%therapy%'\nORDER BY created_at DESC \nLIMIT 50;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -3056,
        512
      ],
      "id": "a7ee60ec-0a32-460f-9dc7-c4b7fd5b918f",
      "name": "get_therapy_articles",
      "credentials": {
        "postgres": {
          "id": "GS7k5FJzs5Oggpyc",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "arunachala-blog-therapy",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3888,
        288
      ],
      "id": "33b5bda3-6c85-433e-a20d-5545fc6db38c",
      "name": "Webhook",
      "webhookId": "71c6d39e-5802-43e0-a672-9c1170288a45"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Articulo_ES",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "5 seg wait": {
      "main": [
        [
          {
            "node": "GET_BananaPro_URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DALLE_Fallback": {
      "main": [
        [
          {
            "node": "URL_Extract_DALLE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET_BananaPro_URL": {
      "main": [
        [
          {
            "node": "IMG_Check_Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IMG_BananaPro_Request": {
      "main": [
        [
          {
            "node": "5 seg wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DALLE_Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IMG_Check_Status": {
      "main": [
        [
          {
            "node": "5 seg wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "URL_Extract_Banana",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DALLE_Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL_Extract_Banana": {
      "main": [
        [
          {
            "node": "Attach_Image_URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL_Extract_DALLE": {
      "main": [
        [
          {
            "node": "Attach_Image_URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach_Image_URL": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metadata_selector": {
      "main": [
        [
          {
            "node": "Articulo_ES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ImagePromptGEN": {
      "main": [
        [
          {
            "node": "IMG_BananaPro_Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Metadata_selector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Articulo_CAT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Articulo_ES": {
      "main": [
        [
          {
            "node": "JSON_PARSE_ES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Articulo_EN",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Articulo_EN": {
      "main": [
        [
          {
            "node": "JSON_PARSE_EN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON_PARSE_CAT": {
      "main": [
        [
          {
            "node": "Articulo_EN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON_PARSE_ES": {
      "main": [
        [
          {
            "node": "Articulo_CAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Articulo_CAT": {
      "main": [
        [
          {
            "node": "JSON_PARSE_CAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON_PARSE_EN": {
      "main": [
        [
          {
            "node": "Multilingual_article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Multilingual_article": {
      "main": [
        [
          {
            "node": "ImagePromptGEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "DB_Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB_Insert": {
      "main": [
        [
          {
            "node": "Syng_rag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "ArunachalaKnowledge",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "ArunachalaKnowledge": {
      "ai_tool": [
        [
          {
            "node": "Articulo_ES",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_therapy_articles": {
      "ai_tool": [
        [
          {
            "node": "Articulo_ES",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5b238970-b873-41a9-b6a8-6b5a60a2cd5a",
  "meta": {
    "instanceId": "909f25bc74e30f0870d11f58a9b248ebedbd4270e3fd9bd4a5ad1be9e6ea17d3"
  },
  "id": "ekHuAxVZwCEVw1hcwZbvu",
  "tags": [
    {
      "updatedAt": "2026-02-02T18:15:37.819Z",
      "createdAt": "2026-02-02T18:15:37.819Z",
      "id": "R1btFE1a1QJgAc85",
      "name": "Arunachala"
    },
    {
      "updatedAt": "2026-02-06T12:40:39.151Z",
      "createdAt": "2026-02-06T12:40:39.151Z",
      "id": "WV8o55miYgvRKbd4",
      "name": "yoga"
    },
    {
      "updatedAt": "2026-02-02T18:15:43.305Z",
      "createdAt": "2026-02-02T18:15:43.305Z",
      "id": "bM2eTjHiIANoFVHP",
      "name": "RAG"
    },
    {
      "updatedAt": "2026-02-02T18:15:41.752Z",
      "createdAt": "2026-02-02T18:15:41.752Z",
      "id": "rI2qk58Yp11URIl9",
      "name": "Chatbot"
    }
  ]
}