n8n-workflows/chatbot-rag.json
{
    "name": "Arunachala - CHATBOT RAG Sync (UI Friendly)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "arunachala-rag-update",
                "options": {}
            },
            "id": "ae355490-6dfb-4762-a9a8-48d89aad2e0b",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                3728,
                3040
            ],
            "webhookId": "b571ae3c-0c5b-4ee1-b65c-10623918855a"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.action }}",
                                        "rightValue": "={{ 'create' }}",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "4fdc930c-9f40-4d8a-9a7f-7868f7771161"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Created"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "ca1cafb3-b89e-4dfe-875d-2e1410960bc6",
                                        "leftValue": "={{ $json.body.action }}",
                                        "rightValue": "={{ 'update' }}",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Updated"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "48aa2f87-f2b3-4d42-af64-2a9ae013403a",
                                        "leftValue": "={{ $json.body.action }}",
                                        "rightValue": "={{ 'delete' }}",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Deleted"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.4,
            "position": [
                4272,
                3024
            ],
            "id": "3fb55cc4-4652-4d06-a452-129abbeef8ae",
            "name": "Switch"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "789d83c9-1b9d-4591-ac0e-3fe81a2f67f9",
                            "name": "body.id",
                            "value": "={{ $json.body.id }}",
                            "type": "number"
                        },
                        {
                            "id": "ea7858be-94ff-42cc-b3d0-5aff65e1457c",
                            "name": "body.type",
                            "value": "={{ $json.body.type }}",
                            "type": "string"
                        },
                        {
                            "id": "36c09d6c-d088-4cc3-be02-509de2b1acdc",
                            "name": "body.action",
                            "value": "={{ $json.body.action }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                4000,
                3040
            ],
            "id": "a64e2ab6-c04a-4c36-b607-33c51d547b1d",
            "name": "GET_DETAILS"
        },
        {
            "parameters": {
                "url": "={{ $env.API_BASE_URL }}/api/{{ $json.body.type === 'yoga_class' ? 'yoga-classes' : ($json.body.type === 'massage' ? 'treatments/massages' : ($json.body.type === 'therapy' ? 'treatments/therapies' : 'content')) }}/{{ $json.body.id }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                4672,
                2976
            ],
            "id": "499d624c-3eb0-4ab5-9d55-0a79ba773c8c",
            "name": "CREATE_UPDATE"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=http://qdrant:6333/collections/arunachala_knowledge_base/points/delete",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ \nJSON.stringify({\n  \"points\": [\n    $node[\"Webhook Trigger\"].json.id ? ($node[\"Webhook Trigger\"].json.type === 'therapy' ? 1000 + $node[\"Webhook Trigger\"].json.id : ($node[\"Webhook Trigger\"].json.type === 'yoga_class' ? 2000 + $node[\"Webhook Trigger\"].json.id : 3000 + $node[\"Webhook Trigger\"].json.id)) : 0\n  ]\n}) \n}}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                4672,
                3184
            ],
            "id": "98262a95-728c-436b-aeef-9b93df5e5405",
            "name": "DELETE"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.openai.com/v1/embeddings",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpBearerAuth",
                "sendHeaders": true,
                "specifyHeaders": "json",
                "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}\n",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ \n  \"model\": \"text-embedding-3-small\", \n  \"input\": $json.full_text \n}) }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                5120,
                2976
            ],
            "id": "68c743c8-9146-4e9c-8337-9a0b84fb48af",
            "name": "EMBEDDING",
            "credentials": {
                "httpBearerAuth": {
                    "id": "wvTAlnIWwXV6z3Ep",
                    "name": "Bearer Auth account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const item = $input.first().json;\nconst webhook = $node[\"Webhook Trigger\"].json;\nconst itemType = webhook.body.type || 'therapy';\n\nlet fullText = \"\";\n\nif (itemType === 'yoga_class') {\n  fullText = `\nClase de Yoga: ${item.name}\nDescripción: ${item.description || 'Sin descripción disponible.'}\n${item.age_range ? `Edad/Nivel: ${item.age_range}` : ''}\n`.trim();\n\n  if (item.schedules && item.schedules.length > 0) {\n    const schedulesText = item.schedules\n      .filter(s => s.is_active)\n      .map(s => `- ${s.day_of_week}: ${s.start_time} a ${s.end_time}`)\n      .join('\\n');\n    if (schedulesText) {\n      fullText += `\\n\\nHorarios disponibles:\\n${schedulesText}`;\n    }\n  }\n} else if (itemType === 'massage' || itemType === 'therapy') {\n  fullText = `\n${item.name} es un tratamiento de bienestar (${itemType === 'massage' ? 'Masaje' : 'Terapia'}).\n${item.excerpt || item.description || ''}\n\nDuración aproximada: ${item.duration_min || '60'} minutos.\n${item.benefits ? `Beneficios: ${item.benefits}.` : ''}\n`.trim();\n} else {\n  // Blog / Content\n  fullText = `\nTítulo: ${item.title || item.name}\nContenido: ${item.body || item.content || ''}\n`.trim();\n}\n\nfullText = fullText.replace(/\\n\\s*\\n/g, '\\n');\n\nreturn [{\n  json: {\n    id: item.id,\n    type: itemType,\n    full_text: fullText,\n    metadata: {\n      name: item.name || item.title,\n      excerpt: item.excerpt,\n      description: item.description,\n      benefits: item.benefits,\n      duration_min: item.duration_min,\n      image_url: item.image_url,\n      category: itemType,\n      is_active: item.is_active ?? true,\n      updated_at: new Date().toISOString()\n    }\n  }\n}];\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                4880,
                2976
            ],
            "id": "2c409f58-328d-4323-8b2f-399c7273a2d5",
            "name": "GET_ITEM_DETAILS"
        },
        {
            "parameters": {
                "method": "PUT",
                "url": "=http://qdrant:6333/collections/arunachala_knowledge_base/points",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ \nJSON.stringify({\n  \"points\": [\n    {\n      \"id\": $node[\"GET_ITEM_DETAILS\"].json.type === 'therapy' ? 1000 + $node[\"GET_ITEM_DETAILS\"].json.id : ($node[\"GET_ITEM_DETAILS\"].json.type === 'yoga_class' ? 2000 + $node[\"GET_ITEM_DETAILS\"].json.id : 3000 + $node[\"GET_ITEM_DETAILS\"].json.id),\n      \"vector\": $json.data[0].embedding,\n      \"payload\": {\n        \"content\": $node[\"GET_ITEM_DETAILS\"].json.full_text,\n        \"type\": $node[\"GET_ITEM_DETAILS\"].json.type,\n        \"source\": \"dashboard\",\n        \"metadata\": $node[\"GET_ITEM_DETAILS\"].json.metadata,\n        \"updated_at\": new Date().toISOString()\n      }\n    }\n  ]\n}) \n}}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                5376,
                2976
            ],
            "id": "275d6fc0-00b2-474e-881f-886daff3f77f",
            "name": "QRANT_UPDATE"
        }
    ],
    "pinData": {},
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "GET_DETAILS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch": {
            "main": [
                [
                    {
                        "node": "CREATE_UPDATE",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "CREATE_UPDATE",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "DELETE",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GET_DETAILS": {
            "main": [
                [
                    {
                        "node": "Switch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "CREATE_UPDATE": {
            "main": [
                [
                    {
                        "node": "GET_ITEM_DETAILS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "EMBEDDING": {
            "main": [
                [
                    {
                        "node": "QRANT_UPDATE",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GET_ITEM_DETAILS": {
            "main": [
                [
                    {
                        "node": "EMBEDDING",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "DELETE": {
            "main": [
                []
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": false
    },
    "versionId": "19629898-eba3-4cb1-a20a-48fcc1567f48",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "909f25bc74e30f0870d11f58a9b248ebedbd4270e3fd9bd4a5ad1be9e6ea17d3"
    },
    "id": "r52R_0m1zVuyAQqc6frEL",
    "tags": [
        {
            "name": "Arunachala",
            "id": "R1btFE1a1QJgAc85",
            "updatedAt": "2026-02-02T18:15:37.819Z",
            "createdAt": "2026-02-02T18:15:37.819Z"
        },
        {
            "name": "Chatbot",
            "id": "rI2qk58Yp11URIl9",
            "updatedAt": "2026-02-02T18:15:41.752Z",
            "createdAt": "2026-02-02T18:15:41.752Z"
        },
        {
            "name": "RAG",
            "id": "bM2eTjHiIANoFVHP",
            "updatedAt": "2026-02-02T18:15:43.305Z",
            "createdAt": "2026-02-02T18:15:43.305Z"
        }
    ]
}